<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        (click)="collapsed = !collapsed"
      >
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Home</a>
    </div>

    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/profile">Profile</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/news">News</a>
        </li>
        <ng-container *ngIf="!isAuthenticated; else logoutButton">
          <li routerLinkActive="active">
            <a routerLink="/auth">Login</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<ng-template #logoutButton>
  <li (click)="logout()">
    <a [ngStyle]="{ cursor: 'pointer' }">Logout</a>
  </li>
</ng-template>
