<section class="page-wrapper">
  <app-big-banner [title]="'Home'"></app-big-banner>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <ul>
        <li>Integer porta lectus commodo lorem aliquet.</li>
        <li>Integer dapibus nec sem at tincidunt.</li>
        <li>Maecenas finibus vel felis sed iaculis.</li>
      </ul>
    </div>
  </div>

  <h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
    fringilla varius dictum. Integer porta lectus commodo lorem aliquet, a
    eleifend magna euismod. In non quam tempor enim finibus aliquam. Donec et
    orci sodales mi porta porta. Integer dapibus nec sem at tincidunt. Aliquam
    suscipit aliquam malesuada. Maecenas finibus vel felis sed iaculis.
  </h3>
</section>
